<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% @landmarks.each do |landmark| %>
<h3><%=landmark.name%></h3>
<a href='/landmarks/<%=landmark.id%>/edit'>Edit this Landmark</a>
<a href='/landmarks/<%=landmark.id%>'>Check out this Landmark</a>
<%end%>
<a href= '/landmarks/new'>Create New Landmark</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
